# Top-most EditorConfig file
root = true

# Default settings for all files
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
indent_size = 4

# Disable all analyzers for Migration files
[**/Migrations/*.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
